nav {
    box-sizing: border-box;
    background-color: #781515;
    overflow: auto;
    padding: 18px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

header {
	margin-top: 80px;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #555;
}

.page-header { color: #fff; text-align: center; background-color: #e01414; background-image: linear-gradient(120deg, #781515, #f5e6e6); }

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: normal; color: #d61e1e; }

a { color: #400a03; text-decoration: none; }
